body{
  background-color: #f6e58d;
}

.container{
  width: 900px;
  background-color: #ffbe76;
  margin: auto;
  padding: 20px
}

.header{
  text-align: center;
  color: #eb4d4b;
}

.title{
  font-size: 40px;
}

.rules{
  font-size: 15px
  border: 2px solid #eb4d4b;
  padding: 5px;
}
